@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');

body {
    background-color: #F7F6FE;
    color: #181A1B;
    font-family: 'Poppins', sans-serif;
}

#title {
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.mixing-bowl-container {
    text-align: center;
    margin-left: 250px;
}
  
.mixing-bowl {
    display: flex;
}
  
.left-column {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    background-color: #F0E3FB; 
    border-radius: 10px;
    height: 77vh;
}
  
.right-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mix-button {
    background-color: #D296EE;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.animation {
    width: 500px;
    height: 500px;
}

