:root {
    --RC_spring: #edf6e0;
    --RC_summer: #fff8d2;
    --RC_autumn: #ffe8c0;
    --RC_winter: #e1f2fa;
}
.card-img-top {
    position: relative;
    width: 19.9rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
}

.card-title {
    font-weight: bold;
    /* text-decoration: underline; */
    padding-bottom: 1rem;
}
.card-text {
    width: 18rem;
    height: 10rem;
    padding: 1rem;
    line-height: 2rem;
    overflow-y: scroll;
}
#card ::-webkit-scrollbar {
    width: 4px;
}
#card ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 40px; 
}
.spring .card-text {
    border-radius: 10px;
    background-color: #fafcf8;
}
#card .spring ::-webkit-scrollbar-thumb {
    background: #badc83;
}
.summer .card-text {
    border-radius: 10px;
    background-color: #fffefa;
}
#card .summer ::-webkit-scrollbar-thumb {
    background: #ffe448;
}
.autumn .card-text {
    border-radius: 10px;
    background-color: #fffcf8;
}
#card .autumn ::-webkit-scrollbar-thumb {
    background: #FEBB40;
}
.winter .card-text {
    border-radius: 10px;
    background-color: #f9fcff;
}
#card .winter ::-webkit-scrollbar-thumb {
    background: #87ceeb;
}
#card .spring {
    border: solid #badc83 3px;
    border-radius: 10px;
}
#card .summer {
    border: solid #ffe448 3px;
    border-radius: 10px;
}
#card .autumn {
    border: solid #FEBB40 3px;
    border-radius: 10px;
}
#card .winter {
    border: solid #87ceeb 3px;
    border-radius: 10px;
}

#card .button {
    margin-top: 1rem;
    --bs-btn-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
}

#card .button:hover {
    color: black;
}
