.ViewRecipe {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    width: 100%;
    grid-gap: 1em;
    padding-left: 260px;
}
#Information {
    min-width: none;
    width: 46em;
    height: 52em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1rem;
    border: solid #D296EE 1rem;
    border-left: 0;
    border-right: 0;
    border-radius: 10%;
    box-sizing: border-box; /* Include border in the width calculation */
}
.top {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 2em;
}
#ImageBox {
    width: 100%;
    height: 100%;
}
.image {
    width: 80%;
    height: 80%;
    min-width: 8em;
    max-width: 8em;
    min-height: 18em;
    max-height: 18em;
    border: solid #D296EE 2px;
    object-fit: cover;
    border-radius: 10%;
}
#Headings {
    margin-left: auto;
    font-weight: bold;
}
.one {
    text-decoration: underline;
    font-size: 40px;
    width: 8em;
    max-height: 4em;
    max-width: 8em;
}
.two {
    font-size: 30px;
}
#shopping_button {
    width: 70%;
    height: 3em;
    margin: auto;
    padding: auto;
    background-color: rgba(210, 150, 238, 0.35);
    color: black;
    border-radius: 1em; 
    font-size: 1.25rem;
    scale: 80%;
}
#shopping_button:hover {
    background-color: rgba(210, 150, 238, 0.7);
}
#MainBody {
    display: flex;
    flex-direction: column;
    font-size: large;
    min-width: 40em;
    min-height: 16em;
    max-width: 40em;
    max-height: 16em;
    padding: 1em;
    padding-left: 1em;
    gap:1em;
    overflow-y: scroll;
}
#MainBody::-webkit-scrollbar{
    width: 6px;
}
#MainBody::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 40px; 
    background: #d296ee;
}
.bottom {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}
#LikeButton {
    text-align: center;
    border-top: solid #D296EE 0.25em;
    padding: 0.75em;
    border-radius: 20%;
    width: 10em;
    height: 4.5em;
    font-size: large;
}
.heart {
    padding-top: 0.25em;
    scale: 180%;
}
#CommentInfo {
    background-color: #F0E3FB;
    border: solid #D296EE 0.25em;
    border-radius: 5%;
    margin-top: 4.5em;
    margin-bottom: 4.5em;
    padding: 1em;
    max-width: auto;
    max-height: auto;
}
.comments_title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.comment_username {
    font-weight: bold;
}
.usercomment {
    padding: 1rem;
    background-color: rgba(210, 150, 238, 0.2);
    border: solid #D296EE 5px;
    border-left: 0;
    border-right: 0;
    border-style: dashed;
    margin-top: 1em;
}
.usercomment:hover {
    background-color: rgba(210, 150, 238, 0.4);
}
.trash {
    display: flex;
    margin-top: 15px;
    margin-right: 15px;
    padding: 1px;
}
.trash:hover {
    scale: 115%;
}
@media (max-width: 1800px) {
    .ViewRecipe {
        grid-template-columns: 1fr; /* Change to 1 column on smaller screens */
        padding-left: 260px; /* Remove left padding on smaller screens */
    }
}

