#ImageBox {
    width: 330px;
    height: 330px;
}
.image {
    width: 330px;
    height: 330px;
    min-width: 330px;
    min-height: 330px;
    border: solid #D296EE 2px;
    border-radius: 10%;
}
body .ViewRecipe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5vw;
}
#MainBody {
    display: flex;
    flex-direction: column;
    font-size: large;
    padding: 1rem;
    padding-left: 3rem;
    gap:20px;
}
#Information {
    min-width: none;
    width: 1080px;
    height: 880px;
    margin-left: 260px;
    margin-top: 10px;
    border: solid #D296EE 10px;
    border-left: 0;
    border-right: 0;
    border-radius: 10%;
}
.top {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 3rem;
}
#Headings {
    margin-left: auto;
    font-weight: bold;
    font-size: 2rem;
}
.one {
    text-decoration: underline;
}
#SideInfo {
    background-color: #F0E3FB;
    border-left: solid #D296EE 2px;
    padding: 1rem;
}
.comments_title {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}
.usercomment {
    padding: 1rem;
    background-color: white;
    border: solid #D296EE 3px;
    border-radius: 3%;
}
.trash {
    display: flex;
}
.bottom {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    margin: auto;
}
#LikeButton {
    text-align: center;
    border-top: solid #D296EE 2px;
    padding: 5px;
    border-radius: 10%;
    width: 150px;
    height: 50px;
    font-size: large;
}
.heart {
    padding-top: 10px;
    scale: 200%;
}

#shopping_button {
    margin: 10px;
    background-color: rgb(210, 150, 238);
    color: white;
    border-radius: 8px; 
    padding: 8px 16px; 
    font-size: 22px;
}
