
.bosscontainer{
margin-left: 240px;
}

.social{
    height: 2rem;
    width: 2rem;
    color: #badc83;

}

.social:hover{

color: #A17CD6;

}

.socialdiv{
    border-top: solid 6px #badc83;
}

.likesandrecipes{
    border: solid 2px #badc83;
    border-radius: 10px;
}

.fontawesome{
    color: #badc83;
}


.about{
    position: relative;
    top: 4.5px;
}

.profilebutton{
    background-color: #badc83;
    
}

.profilebutton:hover{
background-color: #A17CD6;  
 
   
}

.email{
    position: relative;
    top: 10px;
}

.backgroundimage{
    width: 70%;
}

.recipename{
color: #badc83;
}

.recipes{
transition: 0.5s;
}

.likesdiv{
 border-bottom: solid 6px #badc83;
}
