

.social{
    height: 2rem;
    width: 2rem;
}

.social:hover{
color: #FFA500;

}

/* .profile{
position: relative;
 top: 0px;
    
} */

.about{
    position: relative;
    top: 4.5px;
}

.profilebutton{
    background-color: #FFA500;
    
}

.profilebutton:hover{
    background-color: white;
    color: #FFA500;
    border: solid 2px #FFA500;
   
}

.email{
    position: relative;
    top: 10px;
}

.backgroundimage{
    width: 70%;
}

.recipes{
transition: 0.5s;
}
