#profileCard {
    overflow-y: scroll;
}
#profileCard::-webkit-scrollbar {
    width: 10px;
}
#profileCard::-webkit-scrollbar-thumb {
    border-radius: 10px;
    height: 40px; 
    background-color: #d296ee;
}
.bosscontainer{
margin-left: 240px;
}

.social{
    height: 2rem;
    width: 2rem;
    color: #badc83;
    scale: 250%;

}

.social:hover{
    cursor: pointer;
    color: #A17CD6;

}

.socialdiv{
    border-top: solid 6px #badc83;
    margin: 20px;
}

.likesandrecipes{
    border: solid 2px #badc83;
    border-radius: 10px;
}

.fontawesome{
    color: #badc83;
}

.fauser{
    height: 4rem;
    width: 4rem;
}

.about{
    position: relative;
    top: 4.5px;
}

.profilebutton{
    background-color: #badc83;
    
}

.profilebutton:hover{
background-color: #A17CD6;  
 
   
}

.email{
    position: relative;
    top: 10px;
}

.backgroundimage{
    width: 70%;
}

.recipename{
color: #badc83;
}

.recipes{
transition: 0.5s;
}

.likesdiv{
 border-bottom: solid 6px #badc83;
}
#likedRecipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 1rem
}
#userImage img:hover{
    border: solid rebeccapurple 2px;
    cursor: pointer;
}
