

.chef-hat-logo2{
    width: 8%;
    height: 8%;
    object-fit: contain;
    position: absolute;
    top: 128px; 
    left: 329px; 
    transform: rotate(-25deg);
    z-index: 2; 
}

.lottie2{
    height: 500px;
    width: 500px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

 }


 .szndChef2 {
    position: relative;
    top: 130px;
    color: #badc83;
    z-index: 1; 
  }



.leftsideform{
    background-color: #AB5AD1;
}


.formbutton{
    background-color: #badc83;
    border-radius: 10px !important;
}

.formbutton:hover{
    background-color: #AB5AD1;
}


.formlink{
    color: #badc83; 
}


.formlink:hover{
    color: #AB5AD1;
}

#username:focus,
#email:focus,
#password:focus,
#confirm:focus{
    border: solid 3px #4ec943;
}
