

.logo-login{
    width: 60%;
    height: 60%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.lottie{
    position: absolute;
}


.leftsideform{
    background-color: #AB5AD1;
}


.formbutton{
    background-color: #badc83;
    border-radius: 10px !important;
}

.formbutton:hover{
    background-color: #AB5AD1;
}


.formlink{
    color: #badc83; 
}


.formlink:hover{
    color: #AB5AD1;
}

#username:focus,
#email:focus,
#password:focus,
#confirm:focus{
    border: solid 3px #4ec943;
}
