@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@500&family=Poppins&display=swap');
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
*/
#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}
.loading{
    font-size: 100px;
    font-weight: bold;
}
#Sidebanner {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    z-index: -1;
}
#MainContent {
    text-align: center;
}
#Title {
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
#Title.spring {
    color: lawngreen;
}
#Title.summer {
    color: gold;
}
#Title.autumn {
    color: sienna
}
#Title.winter {
    color: skyblue
}
#Sidebanner.spring {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: lawngreen;
}
#Sidebanner.summer{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: gold;
}
#Sidebanner.autumn{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: sienna;
}
#Sidebanner.winter{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: skyblue;
}
#Carousel {
    padding-top: 2.5rem;
}
#RecipeInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.5rem;
    gap: 42.5px;
}

