@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@500&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif;
*/
#root {
  --BG_spring: #fafcf8;
  --SB_spring: #badc83;
  --BG_summer: #fffefa;
  --SB_summer: #ffe448;
  --BG_autumn: #fffcf8;
  --SB_autumn: #FEBB40;
  --BG_winter: #f9fcff;
  --SB_winter: #87ceeb;
}
.loading{
    position: absolute; 
    /* font-size: 100px; */
    /* text-align: center;
    font-weight: bold; */
    width: 100%;
    height: 100%;
    /* background-color: black; */
    /* color: #f9fcff; */
}

#MainContent {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
}
#Title {
    font-size: 75px;
    margin-left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}
#Carousel {
    padding-top: 2.5rem;
    margin-left: 250px;
    padding-bottom: 2.5rem;
}
#RecipeInfo {
    display: grid;
    width: 1080px;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 60px;
    margin-left: 250px;
    padding-top: 4rem;
}


#User_Admin_Recipe_Heading {
    /* padding-top: 4rem; */
    font-size: 50px;
    margin-left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}

#Community_Recipes_Heading {
    padding-top: 4rem;
    font-size: 50px;
    margin-left: 250px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: black;
}
.SeasonalPage {
    height: 100%;
    width: 100%;
}

#filters {
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
}

.filter-space {
    width: 50px;
}
