@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:wght@500&family=Poppins&display=swap');
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; 
*/
#Sidebanner {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
}
#Title {
    font-size: 75px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
}
#Title.spring {
    color: lawngreen;
}
#Title.summer {
    color: gold;
}
#Title.autumn {
    color: sienna
}
#Title.winter {
    color: skyblue
}
#Sidebanner.spring {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: lawngreen;
}
#Sidebanner.summer{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: gold;
}
#Sidebanner.autumn{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: sienna;
}
#Sidebanner.winter{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 15vw;
    background-color: skyblue;
}
#RecipeInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 75px;
}

