@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');



#title {
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 35px auto;
    margin-bottom : 50px;
}


.bodycontainer{
    margin-left: 240px;
}

.formcontainer{
    border-top: solid 6px #badc83;
    border-bottom: solid 6px #badc83;
}

.Recipe_Form {
    margin: 20px auto;
    padding: 40px;
    width: 100%;   
}

.input_recipe,
#recipe_name,
#recipe_description,
#recipe_instructions,
#recipe_ingredients,
#recipe_budget,
#recipe_season,
#recipe_image {
    border: 1px solid #badc83;
    width: 80%;
    padding: 5px;
}




.recipe_label{
    font-size: 30px;
}

.button_container {
    text-align: center;
}


#button {
    background-color: #A17CD6;
    color: #181A1B;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
} 

#button:hover {
    background-color: #D27CD6;
    color: #181A1B;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}
