@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap');

body {
    background-color: #FCFAFC;
    color: #181A1B;
    font-family: 'Poppins', sans-serif;
}

#title {
    font-size: 75px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.Recipe_Form {
    background-color: #FCF4F6;
    width: 500px;
    margin: 20px auto;
    padding: 40px;
    border: 1px solid black;
    text-align: left;
}

.input_recipe,
#recipe_name,
#recipe_description,
#recipe_ingredients,
#recipe_season,
#recipe_image {
    border: 1px solid black;
    padding: 5px;
}


.recipe_label {
    display: inline-block;
    width: 150px; 
    padding: 20px;
    text-align: right;
} 

.button_container {
    text-align: center;
}


#button {
    background-color: #F5C6C6;
    color: #181A1B;
    padding: 20px;
    margin: 20px;
    border: 10px;
} 
