@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    color: #181A1B;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
}
  
.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
  
.navlink {
    text-decoration: none;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}
  
.footer {
    bottom: 0;
    padding: 10px;
}

.navlink:hover {
    font-weight: bold;
    scale: 110%;
    transition: 0.1s ease-in;
    text-shadow: 1px 1px 10px white,
    2px 2px 20px snow;
}

.collapsible-menu {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.collapsible-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2.5rem;
    margin-top: 20px;
}

.collapsible-button {
    text-decoration: none;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.collapsible-content .drop {
    text-decoration: none;
    margin-bottom: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}
.drop:hover {
    font-weight: bold;
    scale: 110%;
    transition: 0.1s ease-in;
    text-shadow: 1px 1px 10px white,
    2px 2px 20px snow;
}