@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    color: #181A1B;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* z-index: 1; */
}
  
.navlinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.navlink {
    text-decoration: none;
    margin-bottom: 20px;
}
  
.footer {
    bottom: 0;
    padding: 10px;
}