p {
    color: black;
}
h3 {
    -webkit-text-stroke: 1px black;
}
#CarouselItems img {
    position: relative;
    left: 200px;
}
/* Spring Styling  */
.spring h3 {
    color: lawngreen;
    font-size: 40px;
}
.spring span {
    background-color: lawngreen;
}
/* Summer Styling  */
.summer h3 {
    font-size: 40px;
    color: gold;
}
.summer span {
    background-color: gold;
}
/* Autumn Styling  */
.autumn h3 {
    font-size: 40px;
    color: sienna;
}
.autumn span {
    background-color: sienna;
}
/* Winter Styling  */
.winter h3 {
    color: skyblue;
    font-size: 40px;
}
.winter span {
    background-color: skyblue;
}
