p {
    color: black;
}
.carousel-indicators {
    scale: 120%;
}
.carousel-inner {
    position: sticky;
    width: 760px;
    height: 380px;
}
.carousel-item {
    position: sticky;
    width: 760px;
    height: 380px;
}
.carousel-caption {
    position: sticky;
}
.carousel-caption > h3 {
    font-size: 40px;
    font-weight: bold;
}
.carousel-caption > p {
    text-align: center;
    width: 500px;
    margin-left: 8rem;
}
.spring .carousel-control-prev, .spring .carousel-control-next {
    background-color: #badc83;
}
.summer .carousel-control-prev, .summer .carousel-control-next {
    background-color: #ffe448;
}
.autumn .carousel-control-prev, .autumn .carousel-control-next {
    background-color: #ffa500;
}
.winter .carousel-control-prev, .winter .carousel-control-next {
    background-color: #87ceeb;
}
.spring .carousel-caption > h3 {
    color: #badc83;
}
.summer .carousel-caption > h3 {
    color: #ffe448;
}
.autumn .carousel-caption > h3 {
    color: #ffa500;
}
.winter .carousel-caption > h3 {
    color: #87ceeb;
}
