.recipe-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipe-cards .card {
    width: 25rem !important;
    background-color: #F0E3FB;
    /* height: 300px; */
}