.recipe-cards {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipe-cards .card {
    border: solid #D296EE 3px;
    border-radius: 10px;
}

.card-text {
    border-radius: 10px;
    background-color: #F7F6FE;
}

.card ::-webkit-scrollbar {
    width: 4px;
}

.card ::-webkit-scrollbar-thumb {
    background: #D296EE;
}

.card .button {
    margin-top: 1rem;
    --bs-btn-color: black;
    border: none;
    outline: none;
    border-radius: 5px;
}

.card .button:hover {
    color: black;
}