.recipe-search {
    align-items: center;
    margin-top: 10px;
    width: 400px;
}
  
.search-input {
    /* border: 1px solid black;  */
    padding: 5px;
    border-radius: 10px;
    width: 320px;
    height: 40px;
    margin-right: 20px;
    outline: 1px solid lightgray;
}

.search-input:focus {
    outline: 2px solid #badc83;
}

.search-button {
    background-color: #D296EE;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #C78FE1;
}